@font-face {
  font-family: 'Governor';
  src: url("../font/governor.ttf");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #edeff3; }

h1, label {
  font-family: 'Governor', "Franklin Gothic Medium", "Impact", sans-serif;
  color: #384d69; }

html, button, input, select, textarea, h2, .pure-g [class*="pure-u"] {
  font-family: 'Quicksand', "Gill Sans", "Tahoma", serif;
  color: #526682; }

article {
  margin-top: 70px; }

a {
  -webkit-text-decoration: underline wavy;
  text-decoration: underline wavy;
  color: #384d69; }
  a:hover {
    color: #526682; }
  a:visited {
    color: #99335c; }
    a:visited:hover {
      color: #e65e94; }

.pure-img-responsive {
  max-width: 100%;
  height: auto;
  text-decoration: none; }

.is-center {
  text-align: center; }

.text-zone {
  padding: 1em; }

.splash-container {
  background: url("../imgs/gallery/img_8416.jpg");
  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 100%), url("../imgs/gallery/img_8416.jpg");
  background: -o-radial-gradient(center ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 100%), url("../imgs/gallery/img_8416.jpg");
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 100%), url("../imgs/gallery/img_8416.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #466083;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  position: fixed !important; }

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase; }

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 2em;
  font-weight: 700;
  color: white;
  line-height: 1em;
  font-family: "Governor";
  margin-bottom: 0px; }
  .splash-head img {
    width: 20%;
    min-width: 150px; }

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.7;
  font-weight: 700;
  margin-top: 0px; }

.crew-role {
  display: block; }

.crew-image img {
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-box-shadow: inset 0px 0px 40px 40px #edeff3;
  box-shadow: inset 0px 0px 40px 40px #edeff3; }

.crew-text {
  text-align: justify;
  padding: 0 1em; }

.bodyImage {
  image-orientation: 90deg; }

.content-wrapper {
  position: absolute;
  top: 80%;
  width: 100%;
  min-height: 12%;
  z-index: 2; }

.content {
  padding: 1em 1em 3em; }

.white-ribbon {
  background: #edeff3; }

.content-head {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0.5em 0 1em; }

#meetSM {
  margin-top: 1.5em; }

.text-zone p {
  margin: 0; }

.content-subhead {
  color: #1f8dd6;
  font-weight: 700;
  text-align: center; }
  .content-subhead i {
    margin-right: 7px; }

.seperator {
  width: 100%;
  margin-top: 2em;
  height: 1em;
  background: url(/imgs/divider.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 0.8em; }

#signup-form {
  margin: 0 0; }
  @media (min-width: 48em) {
    #signup-form {
      margin: 0 25%; } }
  @media (min-width: 78em) {
    #signup-form {
      margin: 0 30%; } }

.footer {
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%; }

@media (min-width: 48em) {
  font-size: 16px;
  .splash {
    width: 50%;
    height: 50%; }
  .splash-head {
    font-size: 300%; }
  .crew-image img {
    width: 80%; } }

@media (min-width: 78em) {
  .splash-head {
    font-size: 300%; }
  .crew-image img {
    width: 60%; } }

.wave {
  position: absolute;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  z-index: 3; }
  .wave + .wave {
    z-index: 4; }

.img-circle {
  border-radius: 50%; }

.grid {
  line-height: 0;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px; }
  .grid img {
    width: 100% !important;
    height: auto; }
  @media screen and (min-width: 24em) {
    .grid {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }
  @media screen and (min-width: 48em) {
    .grid {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3; } }
  @media screen and (min-width: 64em) {
    .grid {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4; } }
  @media screen and (min-width: 80em) {
    .grid {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5; } }

.image-rotate-90 {
  image-orientation: 90deg; }

.image-rotate-180 {
  image-orientation: 180deg; }

.image-rotate-270 {
  image-orientation: 270deg; }

section.post-group, section.post-single {
  -ms-display: grid;
  display: grid;
  -ms-grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  -ms-grid-template-rows: auto auto auto auto auto auto;
  -ms-grid-template-areas: "title title title title" "author date date location" "catagories catagories catagories catagories" "divider divider divider divider" "content content content content" ". continue continue continue";
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "title title title title" "author date date location" "catagories catagories catagories catagories" "divider divider divider divider" "content content content content" ". continue continue continue";
  justify-items: center;
  background-color: white;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 5px 0 0 #c8cfda;
  box-shadow: 0px 5px 0 0 #c8cfda; }

.divider {
  grid-area: divider;
  -ms-grid-area: divider;
  justify-self: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-image: url(/imgs/wavey-border-horizontal.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 1em; }

.post-detail {
  text-align: center;
  font-size: 70%;
  color: #c8cfda;
  padding: 0.35em 0;
  background-color: #384d69;
  justify-self: stretch; }
  .post-detail a {
    text-decoration: none;
    color: inherit; }
    .post-detail a:hover {
      -webkit-text-decoration: dotted;
      text-decoration: dotted; }
  .post-detail.post-catagories {
    color: #c8cfda; }

.post-title {
  -ms-grid-area: title;
  grid-area: title;
  background-color: #384d69;
  justify-self: stretch;
  text-align: center; }
  .post-title a {
    text-decoration: none; }
    .post-title a:hover {
      -webkit-text-decoration: dotted;
      text-decoration: dotted; }
  .post-title h2 {
    margin: 0;
    font-size: 2em;
    color: #c8cfda; }

.post-author {
  -ms-grid-area: author;
  grid-area: author; }
  .post-author a .author-img {
    display: none; }

.post-date {
  grid-area: date;
  text-align: center; }

.post-location {
  grid-area: location;
  text-align: center; }

.post-location-text {
  display: none; }

.post-catagories {
  grid-area: catagories; }

.post-content {
  grid-area: content; }

.post-continue {
  grid-area: continue;
  justify-self: right;
  padding-right: 1em; }
  .post-continue a {
    padding: 0.3em 0.5em;
    border-radius: 1em;
    font-size: 80%;
    -webkit-box-shadow: inset 0 0 0 0 #e65e94;
    box-shadow: inset 0 0 0 0 #e65e94;
    -webkit-transition: all ease 0.7s;
    -o-transition: all ease 0.7s;
    transition: all ease 0.7s;
    text-decoration: none;
    color: #ff5599; }
    .post-continue a:focus, .post-continue a:hover {
      -webkit-box-shadow: inset -12em 0 0 0 #e65e94;
      box-shadow: inset -12em 0 0 0 #e65e94;
      color: #edeff3;
      font-weight: normal;
      text-decoration: none; }

/* Small < */
@media screen and (min-width: 48em) {
  section.post {
    background-color: white;
    grid-template-columns: 12em 1em 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "author divider title title" "author divider content content" "date divider content content" "location divider content content" "catagories divider content content" "catagories divider continue continue";
    margin: 2em 5%;
    width: auto;
    -webkit-box-shadow: 5px 5px 0 0 #c8cfda;
    box-shadow: 5px 5px 0 0 #c8cfda; }
  .post-author a .author-img {
    display: block;
    opacity: 1;
    border: 0.3em dotted rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 8em;
    margin: 0 auto 0.5em; }
  .post-detail {
    padding: 0.35em 0;
    background-color: #384d69;
    justify-self: stretch; }
  .post-title {
    justify-self: left;
    padding-left: 1em;
    background-color: white; }
    .post-title h2 {
      color: #526682; }
  .post-content {
    padding-left: 1em; }
  .post-continue {
    padding-bottom: 1em; }
    .post-continue a {
      font-size: 100%; }
  .divider {
    background-image: url(/imgs/wavey-border.png);
    background-repeat: repeat-y;
    height: auto; } }

/* Large < */
/* X-Large < */
@media screen and (min-width: 80em) {
  section.post {
    margin: 2em 15%; } }

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  text-decoration: none; }
  .badge:empty {
    display: none; }

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  -webkit-box-shadow: inset 0 0 0 0 #466083;
  box-shadow: inset 0 0 0 0 #466083;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  .badge-pill[href]:focus, .badge-pill[href]:hover {
    -webkit-box-shadow: inset 100px 0 0 0 #466083;
    box-shadow: inset 100px 0 0 0 #466083;
    color: #edeff3;
    font-weight: normal; }

nav {
  background: #466083;
  margin-bottom: 2.5em;
  white-space: nowrap;
  z-index: 10000;
  -webkit-box-shadow: 0px 5px 0px 0px #c8cfda;
  -moz-box-shadow: 0px 5px 0px 0px #c8cfda;
  box-shadow: 0px 5px 0px 0px #c8cfda; }
  nav .nav-home {
    display: block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased; }
    nav .nav-home a {
      text-decoration: none; }
      nav .nav-home a:hover {
        text-decoration: none; }
      nav .nav-home a .nav-text-logo, nav .nav-home a .nav-logo {
        display: none; }
      nav .nav-home a .nav-text {
        display: block;
        font-family: Governor;
        color: #edeff3;
        text-align: center;
        font-size: 95%;
        padding-top: 1em; }
        nav .nav-home a .nav-text:hover {
          color: #c8cfda; }
  nav ul.nav-bar {
    list-style-type: none;
    margin: 0.3em 0 0;
    padding: 0;
    overflow-x: auto;
    display: inline-block;
    text-align: center;
    width: 100%; }
    nav ul.nav-bar li {
      display: inline-block; }
      nav ul.nav-bar li a {
        display: block;
        padding: 0.5em 0.5em;
        background-clip: padding-box;
        text-decoration: none;
        color: #c8cfda;
        font-weight: 300; }
        nav ul.nav-bar li a:hover {
          border-radius: 1em;
          background-color: #6b809c;
          color: #384d69; }
      nav ul.nav-bar li.page-active a {
        border-radius: 1em;
        background-color: #c8cfda;
        color: #466083; }
        nav ul.nav-bar li.page-active a:hover {
          background-color: #edeff3; }

ul.inline-nav-bar {
  list-style-type: none;
  margin: 0.3em 0 0;
  padding: 0;
  overflow-x: auto;
  display: inline-block;
  text-align: center;
  width: 100%; }
  ul.inline-nav-bar li {
    display: inline-block;
    padding: 0 1em; }
    ul.inline-nav-bar li a {
      display: block;
      padding: 0.5em 1em;
      background-clip: padding-box;
      text-decoration: none;
      color: #526682;
      font-weight: 300;
      -webkit-box-shadow: inset 0 0 #6b809c;
      box-shadow: inset 0 0 #6b809c;
      -webkit-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s;
      border-radius: 1.1em; }
      ul.inline-nav-bar li a:hover {
        border-radius: 1em;
        background-color: #6b809c;
        color: #edeff3;
        -webkit-box-shadow: inset 150px 0 #6b809c;
        box-shadow: inset 150px 0 #6b809c; }
    ul.inline-nav-bar li.page-active a {
      border-radius: 1em;
      background-color: #c8cfda;
      color: #466083; }
      ul.inline-nav-bar li.page-active a:hover {
        background-color: #edeff3; }

/* Small < */
@media screen and (min-width: 24em) {
  nav {
    background: url(/imgs/banner.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 115px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    nav .nav-home {
      display: inline-block;
      padding: 0.5em 0.5em 1em;
      margin-top: -21px; }
      nav .nav-home a .nav-text {
        display: none; }
      nav .nav-home a .nav-logo {
        height: 80px;
        display: inline-block;
        padding: 0;
        margin-right: 1em; }
        nav .nav-home a .nav-logo:hover {
          opacity: 0.8; }
    nav ul.nav-bar {
      margin: 0;
      width: auto; }
      nav ul.nav-bar li a {
        display: block;
        padding: 24px 0.5em 25px; }
        nav ul.nav-bar li a:hover {
          border-bottom-right-radius: 0em;
          border-bottom-left-radius: 0em;
          padding-top: 16px;
          padding-bottom: 24.5px;
          margin-top: 8px; }
      nav ul.nav-bar li.page-active a {
        border-bottom-right-radius: 0em;
        border-bottom-left-radius: 0em;
        padding-top: 16px;
        padding-bottom: 24.5px;
        margin-top: 8px; }
        nav ul.nav-bar li.page-active a:hover {
          border-bottom-right-radius: 0em;
          border-bottom-left-radius: 0em; } }

/* Medium < */
@media screen and (min-width: 48em) {
  nav .nav-home a .nav-text-logo {
    display: inline-block;
    height: 24px;
    margin-bottom: 42px; }
    nav .nav-home a .nav-text-logo:hover {
      opacity: 0.8; } }

/* Large < */
/* X-Large < */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: #c8cfda solid 2px;
  padding: 1em;
  background-color: #466083;
  border-radius: 1em; }

.input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .input-group .form-control {
    padding: .5em .6em;
    display: inline-block;
    border: 2px solid #c8cfda;
    border-radius: .5em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    -webkit-box-flex: 3;
    -webkit-flex: 3 3 auto;
    -ms-flex: 3 3 auto;
    flex: 3 3 auto;
    width: 1%;
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: -2px;
    -webkit-transition: border-color ease-in-out .3s;
    -o-transition: border-color ease-in-out .3s;
    transition: border-color ease-in-out .3s;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    background-size: 1.125rem 1.125rem; }
    .input-group .form-control:focus {
      border-color: #6b809c; }
    .input-group .form-control:valid {
      border-color: #5cb85c;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }
    .input-group .form-control:invalid:not(:focus):not(:placeholder-shown) {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
      border-color: #d9534f; }
    .input-group .form-control:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
  .input-group .input-group-btn, .input-group .input-group-txt {
    border-radius: .5em;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    font-weight: 500;
    padding: .5em 1rem;
    font-size: 1rem;
    z-index: 4;
    background-color: #c8cfda;
    border: 2px solid #526682;
    color: #384d69;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s; }
    .input-group .input-group-btn:hover, .input-group .input-group-txt:hover {
      color: #edeff3;
      background-color: #466083;
      border-color: #384d69; }
    .input-group .input-group-btn:not(:first-child), .input-group .input-group-txt:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
    .input-group .input-group-btn:not(:last-child), .input-group .input-group-txt:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
  .input-group .input-group-txt {
    background-color: white;
    color: #466083; }
    .input-group .input-group-txt:hover {
      background-color: white;
      color: #466083; }
  .input-group a.input-group-btn, .input-group a.input-group-txt {
    text-decoration: none;
    color: #384d69; }
    .input-group a.input-group-btn:hover, .input-group a.input-group-txt:hover {
      text-decoration: none;
      color: #edeff3; }

/*# sourceMappingURL=main.css.map */