{{ partial "header.html" . }}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">
            <img  src="./imgs/stamp-logo.png">
            <div class="splash-text"> Yacht Shepherd Moon</div>
        </h1>
        <p class="splash-subhead">
            Welcome to the story of our round-the-world adventure
        </p>
    </div>
</div>


    
<div class="content-wrapper">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><title>Wave</title><defs></defs><path id="wave1" d=""/></svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><title>Wave</title><defs></defs><path id="wave2" d=""/></svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><title>Wave</title><defs></defs><path id="wave3" d=""/></svg>

<!-- 
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><title>Wave</title><defs></defs><path id="feel-the-wave-two" d=""/></svg> -->
    <div class="content white-ribbon">
        <h2 class="content-head is-center">Where are we?</h2>
        <div id="map"></div>
        <div class="seperator"></div>
    </div>
    
    <div class="content white-ribbon">
        <div class="pure-g">
            <h2 class="content-head is-center pure-u-1">Meet the Crew</h2>
            <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    Richard
                    <span class="crew-role"><em> Skipper </em></span>
                </h3>
                <div class="crew-image is-center">
                    <img src = "/imgs/richard-avatar.jpg"/>
                </div>
                <p class="crew-text">
                    Sailing around the world has been a life long ambition for Richard. It's only taken 40 years for this dream to become a reality. Finally retiring this autumn, he is a looking forward to swapping the responsibility of managing his small team at work to managing a small crew at sea. Hopefully they’ll be a few less mutinies.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Vanessa
                    <span class="crew-role"><em> First Mate </em></span>
                </h3>
                <div class="crew-image is-center">
                    <img src = "/imgs/vanessa-avatar.jpg"/>
                </div>
                <p class="crew-text">
                    Vanessa was understandably nervous about the idea of being all alone in the middle of the ocean with only her solitude loving husband and technology addicted son for company and so she only agreed to come on the circumnavigation if it was done in the company of others. On board Vanessa is mainly in charge of making sure the crew have enough to eat and countering some of Richard's more reckless tendencies.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Jacob
                    <span class="crew-role"><em> Cabin Boy </em></span>
                </h3>
                <div class="crew-image is-center">
                    <img src = "/imgs/jacob-avatar.jpg"/>
                </div>
                <p class="crew-text">
                    Taking a year off after completing his first year of teaching Computer Science, Jacob is looking forward to completing the first half of a circumnavigation. As the only one with a proper Day Skipper qualification, he is in charge of making unhelpful remarks during the more tense moments.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Daisy
                    <span class="crew-role"><em> Cabin Girl <small>(shore-based)</small> </em></span>
                </h3>
                <div class="crew-image is-center">
                    <img src = "/imgs/daisy-avatar.jpg"/>
                </div>
                <p class="crew-text">
                    A capable crew member who has a mild hatred of "flappy bits", and, due to totally unrelated complications, is unable to do any of the passages. Instead, Daisy gets to fly out and come enjoy the sunny bits without any of the ocean-crossing work. Irrational as always, she didn’t feel her non-participation should exclude her from the website.
                </p>
            </div>
        </div>
        <div class="seperator"></div>
    </div>
    
    <div class="content  l-box-lrg pure-g">
        <div class="align-with-text pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img alt="Shepherd Moon moored in Galacia" class="pure-img-responsive" src="./imgs/gallery/img_8353.jpg" >
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5 text-zone" id="meetSM">
            <h2 class="content-head">Meet Shepherd Moon</h2>
            <p>
             <em>Shepherd Moon</em> (previously <em>MAIA II</em>) is a Hallberg Rassy 46 that will be in charge of whisking us around the world. Built in 2003, she was underwent an extensive (and ridiculously expensive) refit in Sweden last winter. By the time we picked her up in June 2017 she looked like a brand new boat. Hopefully she’ll take good care of us over the coming years.
            </p>
            <br/>
            <p>
                As for the name, a Shepherd Moon is a small moon that clears a gap in a planets ring. The name reflects the fact the mini-moon “herds” the particles in a ring like a shepherd. <a href="https://www.nasa.gov/image-feature/jpl/pia21893/daphnis-final-appearance/">NASA has a nice photograph of them in action</a>
            </p>
                <br/>
            <p>
                The name <em>Shepherd Moon</em> has a number of more personal connections behind it. First it is the name of <a href="https://en.wikipedia.org/wiki/Shepherd_Moons">Enya's Third Studio Album</a> that Vanessa played to the tiny Jacob and slightly less tiny Daisy when they were babies. Also the name of the first boat that Vanessa sailed on was called New Moon, and New Moon was also the name of the boat that Richard and Vanessa met on (different boat, same name). Finally the shepherding aspect is quite appropriate as for many years we herded sheep on our smallholding.
            </p>
        </div>
        <div class="seperator"></div>
    </div>
    
    <div class="content white-ribbon">
        <h2 class="content-head is-center" id="sign-up">Sign up for Updates</h2>
        <p class="is-center">
            Leave your email below to be notified of our latest updates. 
        </p>
        <!-- Begin MailChimp Signup Form -->
        <div id="signup-form" class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <form action="https://yachtshepeherdmoon.us17.list-manage.com/subscribe/post?u=7e06663e06c682ae23cd7ad80&amp;id=b12ac32698" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" novalidate>
                <div class="input-group">
                    <input type="email" value="" id="email_address" name="EMAIL" class="form-control" placeholder="Enter your email address" required>

                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7e06663e06c682ae23cd7ad80_b12ac32698" tabindex="-1" value=""></div>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="input-group-btn">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
{{ partial "footer.html" . }}
</html>
